/* Typography */
body {
  margin: 0;
  font: 100% Merriweather Sans, Helvetica, sans-serif;
  color: #333;
  padding-top: 20px;
  background-position: 0 20px;
  background-size: 100% 28px; }

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-size: 14px;
  margin: 0;
  line-height: 24px; }

h2 {
  font-size: 77.664px;
  line-height: 32px; }

h3 {
  font-size: 32px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0; }

h4 {
  font-size: 25.888px;
  line-height: 35.2px; }

p ~ h3 {
  margin-top: 48px; }

p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 28px;
  line-height: 28px; }

.text-l {
  font-size: 25.888px; }

.text-s {
  font-size: 9.888px; }
