.full-width-section {
  display:flex;
  padding-bottom: $base-font-rhythm * 2;
  padding-top: $base-font-rhythm * 2;
}
.container.vertical-center {
  justify-content:center;
}
.container.horizontal-center {
  align-items: center;
}
.container.center-all {
  justify-content: center;
  align-items: center;
}
.column.align-items-right {
  align-items:flex-end;
}
.column.align-items-left {
  align-items:flex-start;
}
.column.align-items-center {
  align-items:center;
}
.row.vertical-center {
  align-items: center;
}
.row.align-items-center {
  justify-content:center;
}
.row.space-around {
  justify-content:space-around;
}
.row.space-between {
  justify-content:space-between;
}
.full-width-section.secondary-section {
  background:shade($site-background, 4%);
}
.gutter-margin_right {
  margin-right: $base-font-rhythm;
}
.gutter-margin_right2 {
  margin-right: $base-font-rhythm * 2;
}
.gutter-margin_right3 {
  margin-right: $base-font-rhythm * 3;
}
.gutter-margin_bottom {
  margin-bottom: $base-font-rhythm;
}
.gutter-margin_top {
  margin-top: $base-font-rhythm;
}
.gutter-margin_top2 {
  margin-top: $base-font-rhythm * 2;
}
.column {
  display:flex;
  flex-flow:column;
  padding-left:$base-font-rhythm;
  padding-right:$base-font-rhythm;
  min-width:5px;
}
.column:first-child {
  padding-left:0;
}
.column:last-child {
  padding-right:0;
}
.row:first-child {
  margin-top:0;
}
.wrapped-row {
  @extend .row;
  flex-wrap:wrap;
}
.wrapped-row * {
  margin-right:$base-font-rhythm;
}
h1 + .row,
h2 + .row,
h3 + .row,
h4 + .row {
  margin-top:0;
}
.row {
  margin-top:$base-font-rhythm;
  display:flex;
}
.row.vertical-center {
  align-items:center;
}
.width-50 {
  width:50%;
}
.width-33 {
  width:33.33%;
}
