$site-background: #fff;
$font-stack: Merriweather Sans, Helvetica, sans-serif;
$text-primary-color: #333;
$text-secondary-color: #666;
$primary-color: #333;
$secondary-color: blue;
$content-width: 720px;
$button-radius: 3px;

/* Typography */
$base-font-size: 16px;
$base-font-margin: $base-font-size / 2;
$base-font-rhythm: $base-font-size * 1.75;
